<div id="<%= dom_id reception %>">
  <p>
    <strong>Name:</strong>
    <%= reception.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= reception.phone_number %>
  </p>
  <p>
  <strong>Hospital :</strong>
  <%= reception.hospital.name %>
</p>

</div>
