<h1>Editing reception</h1>

<%= render "form", reception: @reception %>

<br>

<div>
  <%= link_to "Show this reception", @reception %> |
  <%= link_to "Back to receptions", receptions_path %>
</div>
